deploy/node-red-flows.json
[{"id":"50253f3399e2192f","type":"tab","label":"Store data in influx","disabled":false,"info":"","env":[]},{"id":"a1befa9ae4fa37a0","type":"tab","label":"Run optimizer","disabled":false,"info":"","env":[]},{"id":"082d1a6d7f9f4ee6","type":"tab","label":"Charge Controll Fronius Battery","disabled":false,"info":"","env":[]},{"id":"a3281e60fba0c8d7","type":"tab","label":"Generate dash imager","disabled":false,"info":"","env":[]},{"id":"20305e705bceed47","type":"tab","label":"Install packages","disabled":false,"info":"","env":[]},{"id":"990a82509790982d","type":"group","z":"082d1a6d7f9f4ee6","style":{"stroke":"#3a3a3a","stroke-opacity":"1","fill":"#1e1e1e","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#cccccc"},"nodes":["01b27fd4c6df709e","a14e060aa8b357d3"],"x":1114,"y":99,"w":412,"h":82},{"id":"45acb5295fb1f6dc","type":"group","z":"082d1a6d7f9f4ee6","name":"Charge 100%","style":{"label":true},"nodes":["884f2c943fb25d0a","b83174f039a2d5e6","78bf6418bd324a42","4ddfd89be5bfedf9","fe05816fcd28a90d","20b1eff7b4967a95"],"x":14,"y":19,"w":492,"h":162},{"id":"4f3ffe065555c0fe","type":"group","z":"082d1a6d7f9f4ee6","name":"Discharge 100%","style":{"label":true},"nodes":["90fccb5e6388880a","9891a0a6eb033160","92d5124fc68884d0","c5c98e12a75471fa","8bd4d58fbd889f99","29977cc08b49350b"],"x":14,"y":199,"w":492,"h":162},{"id":"2b3f222be46c2490","type":"group","z":"082d1a6d7f9f4ee6","name":"Normal operation","style":{"label":true},"nodes":["ea00b2d2947c7047","f64bcb1810827035"],"x":554,"y":19,"w":392,"h":82},{"id":"6cefe547798fa70b","type":"group","z":"082d1a6d7f9f4ee6","name":"No charge/discharge","style":{"label":true},"nodes":["56971e07f5b82a9d","301cc5bfd5441a20","5e1aed5ce6c7b5ae","321d182f3a1d142b","7c0bb5afc650da96","159b084e75e7ebe6"],"x":554,"y":199,"w":492,"h":162},{"id":"c40948974576ca28","type":"group","z":"082d1a6d7f9f4ee6","name":"Check Battery info","style":{"label":true},"nodes":["6af939f8557606d0","33f657511e9659a2","9d2b7e0d8afa516b"],"x":14,"y":479,"w":592,"h":82},{"id":"f899bcc02c1725fc","type":"group","z":"082d1a6d7f9f4ee6","name":"Check Battery info RW only","style":{"label":true},"nodes":["bb3812291ebfcfb9","ef1f47997f40e6e5","18f4782d041591d2"],"x":14,"y":379,"w":592,"h":82},{"id":"6abea5801c186c44","type":"group","z":"a1befa9ae4fa37a0","name":"Create Schedule","style":{"label":true},"nodes":["897559abd525bcc1","b05e7058ab0e3ede","fea2faf7224b7867","a6f6f9dafe6e8fbe","19c3fff4d652db23"],"x":174,"y":19,"w":912,"h":149.5},{"id":"fa5ceec6d8a21156","type":"group","z":"a1befa9ae4fa37a0","style":{"stroke":"#3a3a3a","stroke-opacity":"1","fill":"#1e1e1e","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#cccccc"},"nodes":["bef3d169b367a583","8cb70042ea7b3145"],"x":1134,"y":1079,"w":412,"h":82},{"id":"b3c57f270491609b","type":"group","z":"a1befa9ae4fa37a0","name":"Decode commants","style":{"label":true},"nodes":["737b91cf63869cd5","6002057f7c8edbc7","026b9062201cad78","99cd3f7cc6ce2070","ad667aacda1e10bc"],"x":794,"y":1039,"w":312,"h":162},{"id":"81fb196cce9fddef","type":"group","z":"a1befa9ae4fa37a0","name":"Check current schedule","style":{"label":true},"nodes":["8da38cc48989225d","9ee33ea1b282738c","983278f203f76e70","fe3adff00fb4505f","4f95efba75923ec2","19e134b94a9a007f","51ba4015b0e5ca95","42b53d6f625b2d7b","8b453283711ed47a","a3950e2fc6238339","c271f05cebd67ec9"],"x":14,"y":199,"w":992,"h":302},{"id":"42c2a7cb.97dc48","type":"server","name":"Home Assistant","addon":true},{"id":"ae3ecd188b61da97","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"homeassistant","name":"node","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":false},{"id":"9627619322463cb8","type":"modbus-client","name":"FroniusMain","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.1.74","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":9600,"serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"48e942dc11a35a44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bcc4229c.180ac","type":"modbus-client","name":"Fronius","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":false,"tcpHost":"192.168.1.74","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":200,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"666be0358fbb485b","type":"poll-state","z":"50253f3399e2192f","name":"Poll temp","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":true,"entityId":"sensor.unknown_70_ee_50_96_d1_7e_outdoor_temperature","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":100,"wires":[["d06d11f91db5975a","cf2e858c5debc2c1"]]},{"id":"cf2e858c5debc2c1","type":"debug","z":"50253f3399e2192f","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":40,"wires":[]},{"id":"d06d11f91db5975a","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StoreOutsideTemp","measurement":"outside.temp","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":410,"y":100,"wires":[]},{"id":"9bf85c61073ff4d5","type":"poll-state","z":"50253f3399e2192f","name":"Poll energy consumed","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.smart_meter_ts_65a_3_real_energy_consumed","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":240,"wires":[["8be4c1b306a3065d"]]},{"id":"8be4c1b306a3065d","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StoreEnergyConsumed","measurement":"energy.consumed","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":430,"y":240,"wires":[]},{"id":"77f9308630a5ff5a","type":"poll-state","z":"50253f3399e2192f","name":"Poll energy produced","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.smart_meter_ts_65a_3_real_energy_produced","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":300,"wires":[["2f7db059a0ebbca6"]]},{"id":"2f7db059a0ebbca6","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StoreEnergyProduced","measurement":"energy.produced","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":420,"y":300,"wires":[]},{"id":"cb89be118389d080","type":"poll-state","z":"50253f3399e2192f","name":"Poll energy SoC","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.byd_battery_box_premium_hv_state_of_charge","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":360,"wires":[["260b904d1482ef38"]]},{"id":"260b904d1482ef38","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StoreEnergySoC","measurement":"energy.SoC","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":410,"y":360,"wires":[]},{"id":"e4b1db38a9123bb2","type":"poll-state","z":"50253f3399e2192f","name":"Poll Battery Charge","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solarnet_power_battery_charge","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":480,"wires":[["33bfe5e866f2b70a"]]},{"id":"33bfe5e866f2b70a","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StoreBatteryCharge","measurement":"battery.charge","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":420,"y":480,"wires":[]},{"id":"addf803e2149789b","type":"poll-state","z":"50253f3399e2192f","name":"Poll Battery Discharge","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solarnet_power_battery_discharge","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":540,"wires":[["004b8732a9a11139"]]},{"id":"004b8732a9a11139","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StoreBatteryDischarge","measurement":"battery.discharge","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":420,"y":540,"wires":[]},{"id":"7bb02d3a2963088f","type":"poll-state","z":"50253f3399e2192f","name":"Poll Energy Bought","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solarnet_power_grid_import","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":620,"wires":[["a314a3ac459fd0e4"]]},{"id":"a314a3ac459fd0e4","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StorePowerBought","measurement":"power.purchase","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":410,"y":620,"wires":[]},{"id":"8bd1996f25aebbf8","type":"poll-state","z":"50253f3399e2192f","name":"Poll Energy Sold","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solarnet_power_grid_export","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":680,"wires":[["46b78a7c066b83cc"]]},{"id":"46b78a7c066b83cc","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StorePowerSold","measurement":"power.sold","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":400,"y":680,"wires":[]},{"id":"d24484b70f4244cc","type":"poll-state","z":"50253f3399e2192f","name":"Poll Power Consumed","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solarnet_power_load_consumed","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":760,"wires":[["646f9f53c4f0d275"]]},{"id":"646f9f53c4f0d275","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StorePowerConsumed","measurement":"power.consumed","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":420,"y":760,"wires":[]},{"id":"cc452cac5994a148","type":"poll-state","z":"50253f3399e2192f","name":"Poll Power PV","server":"42c2a7cb.97dc48","version":3,"exposeAsEntityConfig":"","updateInterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solarnet_power_photovoltaics","stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":820,"wires":[["2f2d172b536435ca"]]},{"id":"2f2d172b536435ca","type":"influxdb out","z":"50253f3399e2192f","influxdb":"ae3ecd188b61da97","name":"StorePowerPV","measurement":"power.pv","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"node","bucket":"home","x":400,"y":820,"wires":[]},{"id":"897559abd525bcc1","type":"inject","z":"a1befa9ae4fa37a0","g":"6abea5801c186c44","name":"Create new Schedule","props":[{"p":"payload"}],"repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":60,"wires":[["19c3fff4d652db23"]]},{"id":"96ee1ade634d0484","type":"catch","z":"a1befa9ae4fa37a0","name":"Catch errors","scope":null,"uncaught":false,"x":210,"y":560,"wires":[["e99b6163560c40bd"]]},{"id":"e99b6163560c40bd","type":"debug","z":"a1befa9ae4fa37a0","name":"Error Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":560,"wires":[]},{"id":"b05e7058ab0e3ede","type":"exec","z":"a1befa9ae4fa37a0","g":"6abea5801c186c44","command":"cd /config/files && source optimizer/venv/bin/activate &&  python -m optimizer.main --use_influxdb --save_image --battery_percent ","addpay":"soc","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Exec Generate Schedule","x":750,"y":120,"wires":[["fea2faf7224b7867"],["a6f6f9dafe6e8fbe"],[]]},{"id":"fea2faf7224b7867","type":"debug","z":"a1befa9ae4fa37a0","g":"6abea5801c186c44","name":"Python out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":80,"wires":[]},{"id":"a6f6f9dafe6e8fbe","type":"debug","z":"a1befa9ae4fa37a0","g":"6abea5801c186c44","name":"Python err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":120,"wires":[]},{"id":"c7d78396a3ab1522","type":"inject","z":"a1befa9ae4fa37a0","name":"Get current schedule","props":[{"p":"payload"}],"repeat":"","crontab":"*/5 0-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":700,"wires":[["8da69bb7d11e7753"]]},{"id":"8da69bb7d11e7753","type":"exec","z":"a1befa9ae4fa37a0","command":"cd /config/files && source optimizer/venv/bin/activate &&  python -m optimizer.main --current-schedule","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Fetch current Schedule","x":350,"y":700,"wires":[["bdfe3d8f6df9587e"],["06496179e5e3bf38"],[]]},{"id":"d15eb490cb83302b","type":"debug","z":"a1befa9ae4fa37a0","name":"Current Activity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.activity","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":560,"wires":[]},{"id":"06496179e5e3bf38","type":"debug","z":"a1befa9ae4fa37a0","name":"Python err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":820,"wires":[]},{"id":"bdfe3d8f6df9587e","type":"json","z":"a1befa9ae4fa37a0","name":"parse schedule","property":"payload","action":"obj","pretty":false,"x":560,"y":680,"wires":[["cbd1119fc164093d","d15eb490cb83302b","bcc807dccf211583"]]},{"id":"cbd1119fc164093d","type":"switch","z":"a1befa9ae4fa37a0","name":"Choose activity","property":"payload.activity","propertyType":"msg","rules":[{"t":"eq","v":"charge_solar_surplus","vt":"str"},{"t":"eq","v":"charge","vt":"str"},{"t":"eq","v":"discharge_for_home","vt":"str"},{"t":"eq","v":"discharge","vt":"str"},{"t":"eq","v":"charge_limit","vt":"str"},{"t":"eq","v":"discharge_limit","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":620,"y":840,"wires":[["badae8d5c7c7fd0b"],["c5cce5c36f3a9e75"],["ad289f15c281fa05"],["9ca34f9f151a4a62"],["aee88d57cf1c67e9"],["3b5b37035b9fd8da"]]},{"id":"badae8d5c7c7fd0b","type":"function","z":"a1befa9ae4fa37a0","name":"Charge Solar","func":"\nmsg.storctl_mod = 2 //discharge limit\nmsg.outwrte = 0 // discharge limit 0\nmsg.inwrte = 0\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":740,"wires":[["026b9062201cad78","737b91cf63869cd5","6002057f7c8edbc7"]]},{"id":"bef3d169b367a583","type":"modbus-response","z":"a1befa9ae4fa37a0","g":"fa5ceec6d8a21156","name":"","registerShowMax":20,"x":1430,"y":1120,"wires":[]},{"id":"8cb70042ea7b3145","type":"modbus-flex-write","z":"a1befa9ae4fa37a0","g":"fa5ceec6d8a21156","name":"Fronius-Storage","showStatusActivities":true,"showErrors":true,"server":"bcc4229c.180ac","emptyMsgOnFail":true,"keepMsgProperties":true,"x":1240,"y":1120,"wires":[["bef3d169b367a583"],[]]},{"id":"737b91cf63869cd5","type":"delay","z":"a1befa9ae4fa37a0","g":"b3c57f270491609b","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":890,"y":1120,"wires":[["99cd3f7cc6ce2070"]]},{"id":"6002057f7c8edbc7","type":"delay","z":"a1befa9ae4fa37a0","g":"b3c57f270491609b","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":870,"y":1160,"wires":[["ad667aacda1e10bc"]]},{"id":"026b9062201cad78","type":"function","z":"a1befa9ae4fa37a0","g":"b3c57f270491609b","name":"InWRte","func":"msg.payload = { \n    'value': msg.inwrte,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40366,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1080,"wires":[["8cb70042ea7b3145"]]},{"id":"99cd3f7cc6ce2070","type":"function","z":"a1befa9ae4fa37a0","g":"b3c57f270491609b","name":"OutWRte","func":"msg.payload = { \n    'value': msg.outwrte,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40365,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1120,"wires":[["8cb70042ea7b3145"]]},{"id":"ad667aacda1e10bc","type":"function","z":"a1befa9ae4fa37a0","g":"b3c57f270491609b","name":"StorCtl_Mod","func":"msg.payload = { \n    'value': msg.storctl_mod,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40358,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":1160,"wires":[["8cb70042ea7b3145"]]},{"id":"c5cce5c36f3a9e75","type":"function","z":"a1befa9ae4fa37a0","name":"Charge","func":"\nmsg.storctl_mod = 2 //discharge limit\nmsg.outwrte = 65536 - (msg.payload.amount_percent - 6000) //discharge limit -100%\nmsg.inwrte = 0\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":780,"wires":[["026b9062201cad78","737b91cf63869cd5","6002057f7c8edbc7"]]},{"id":"19c3fff4d652db23","type":"api-current-state","z":"a1befa9ae4fa37a0","g":"6abea5801c186c44","name":"Fetch battery state","server":"42c2a7cb.97dc48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.byd_battery_box_premium_hv_state_of_charge","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"soc","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":60,"wires":[["b05e7058ab0e3ede"]]},{"id":"ad289f15c281fa05","type":"function","z":"a1befa9ae4fa37a0","name":"Discharge for home","func":"\nmsg.storctl_mod = 1 // charge limit\nmsg.outwrte = 0\nmsg.inwrte = 0 // charge limit 0\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":820,"wires":[["026b9062201cad78","737b91cf63869cd5","6002057f7c8edbc7"]]},{"id":"9ca34f9f151a4a62","type":"function","z":"a1befa9ae4fa37a0","name":"Discharge","func":"\nmsg.storctl_mod = 1 // Charge limit\nmsg.outwrte = 4603\nmsg.inwrte = 65536 - (msg.payload.amount_percent - 5000) //limit -x%\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":860,"wires":[["026b9062201cad78","737b91cf63869cd5","6002057f7c8edbc7"]]},{"id":"aee88d57cf1c67e9","type":"function","z":"a1befa9ae4fa37a0","name":"Charge limit","func":"\nmsg.storctl_mod = 1 // charge limit\nmsg.outwrte = 0\nmsg.inwrte = msg.payload.amount_percent\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":900,"wires":[["026b9062201cad78","737b91cf63869cd5","6002057f7c8edbc7"]]},{"id":"3b5b37035b9fd8da","type":"function","z":"a1befa9ae4fa37a0","name":"Discharge limit","func":"\nmsg.storctl_mod = 2 // discharge limit\nmsg.outwrte = msg.payload.amount_percent\nmsg.inwrte = 0\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":940,"wires":[["026b9062201cad78","737b91cf63869cd5","6002057f7c8edbc7"]]},{"id":"8da38cc48989225d","type":"inject","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","name":"Check Schedule","props":[{"p":"payload"}],"repeat":"","crontab":"*/15 0-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["9ee33ea1b282738c"]]},{"id":"9ee33ea1b282738c","type":"exec","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","command":"cd /config/files && source optimizer/venv/bin/activate &&  python -m optimizer.main --current-schedule","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Fetch current Schedule","x":170,"y":300,"wires":[["c271f05cebd67ec9"],[],[]]},{"id":"983278f203f76e70","type":"debug","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","name":"Compare SoC result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":460,"wires":[]},{"id":"a06c754ee0a9bdc4","type":"influxdb out","z":"a1befa9ae4fa37a0","influxdb":"ae3ecd188b61da97","name":"Save schedule mode","measurement":"schedule.mode","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":980,"y":620,"wires":[]},{"id":"bcc807dccf211583","type":"function","z":"a1befa9ae4fa37a0","name":"Translate mode","func":"if (msg.payload.activity == 'charge')\n    msg.payload = 1\nif (msg.payload.activity == 'charge_solar_surplus')\n    msg.payload = 2\nif (msg.payload.activity == 'charge_limit')\n    msg.payload = 3\nif (msg.payload.activity == 'discharge_limit')\n    msg.payload = 4\nif (msg.payload.activity == 'discharge_for_home')\n    msg.payload = 5\nif (msg.payload.activity == 'discharge')\n    msg.payload = 6\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":620,"wires":[["a06c754ee0a9bdc4"]]},{"id":"fe3adff00fb4505f","type":"api-current-state","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","name":"Fetch battery state","server":"42c2a7cb.97dc48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.byd_battery_box_premium_hv_state_of_charge","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"soc","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":420,"wires":[["4f95efba75923ec2"]]},{"id":"4f95efba75923ec2","type":"function","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","name":"Compare soc","func":"if (msg.soc > msg.payload.battery_expected_soc + 3)\n    msg.regenerate = true\nelse if (msg.soc < msg.payload.battery_expected_soc - 3)\n    msg.regenerate = true\nelse\n    msg.regenerate = false\n    \nmsg.debug = \"SoC: \" + msg.soc + \" Expected:\" + msg.payload.battery_expected_soc\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":420,"wires":[["983278f203f76e70","19e134b94a9a007f"]]},{"id":"19e134b94a9a007f","type":"switch","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","name":"Send to regenerate flow","property":"regenerate","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":380,"wires":[["19c3fff4d652db23"],[]]},{"id":"51ba4015b0e5ca95","type":"function","z":"a1befa9ae4fa37a0","d":true,"g":"81fb196cce9fddef","name":"Get price","func":"msg.payload = msg.payload.prices\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":320,"wires":[["42b53d6f625b2d7b","8b453283711ed47a"]]},{"id":"42b53d6f625b2d7b","type":"influxdb out","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","influxdb":"ae3ecd188b61da97","name":"Save price","measurement":"energy.price","precision":"","retentionPolicy":"","database":"homeassistant","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":890,"y":320,"wires":[]},{"id":"8b453283711ed47a","type":"debug","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","name":"Price","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":280,"wires":[]},{"id":"a3950e2fc6238339","type":"debug","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","name":"debug current schedule","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"c271f05cebd67ec9","type":"json","z":"a1befa9ae4fa37a0","g":"81fb196cce9fddef","name":"parse payload","property":"payload","action":"obj","pretty":false,"x":420,"y":280,"wires":[["a3950e2fc6238339","fe3adff00fb4505f","51ba4015b0e5ca95"]]},{"id":"921198b5d72e51f9","type":"inject","z":"a1befa9ae4fa37a0","name":"Evaluate savings","props":[],"repeat":"","crontab":"10 00 * * *","once":false,"onceDelay":0.1,"topic":"","x":150,"y":980,"wires":[["9eda0d4f2d7387d4"]]},{"id":"9eda0d4f2d7387d4","type":"exec","z":"a1befa9ae4fa37a0","command":"cd /config/files && source optimizer/venv/bin/activate && python -m evaluator.evaluate","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Save savings to influx","x":420,"y":980,"wires":[["06496179e5e3bf38"],["06496179e5e3bf38"],[]]},{"id":"01b27fd4c6df709e","type":"modbus-response","z":"082d1a6d7f9f4ee6","g":"990a82509790982d","name":"","registerShowMax":20,"x":1410,"y":140,"wires":[]},{"id":"a14e060aa8b357d3","type":"modbus-flex-write","z":"082d1a6d7f9f4ee6","g":"990a82509790982d","name":"Fronius-Storage","showStatusActivities":true,"showErrors":true,"server":"bcc4229c.180ac","emptyMsgOnFail":true,"keepMsgProperties":true,"x":1220,"y":140,"wires":[["01b27fd4c6df709e"],[]]},{"id":"884f2c943fb25d0a","type":"delay","z":"082d1a6d7f9f4ee6","g":"45acb5295fb1f6dc","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":290,"y":100,"wires":[["fe05816fcd28a90d"]]},{"id":"b83174f039a2d5e6","type":"delay","z":"082d1a6d7f9f4ee6","g":"45acb5295fb1f6dc","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":270,"y":140,"wires":[["20b1eff7b4967a95"]]},{"id":"78bf6418bd324a42","type":"inject","z":"082d1a6d7f9f4ee6","g":"45acb5295fb1f6dc","name":"Charge 100%","props":[{"p":"outwrte","v":"60933","vt":"num"},{"p":"inwrte","v":"4603","vt":"str"},{"p":"storctl_mod","v":"2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":130,"y":60,"wires":[["4ddfd89be5bfedf9","884f2c943fb25d0a","b83174f039a2d5e6"]]},{"id":"4ddfd89be5bfedf9","type":"function","z":"082d1a6d7f9f4ee6","g":"45acb5295fb1f6dc","name":"InWRte","func":"msg.payload = { \n    'value': msg.inwrte,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40366,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["a14e060aa8b357d3"]]},{"id":"fe05816fcd28a90d","type":"function","z":"082d1a6d7f9f4ee6","g":"45acb5295fb1f6dc","name":"OutWRte","func":"msg.payload = { \n    'value': msg.outwrte,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40365,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":100,"wires":[["a14e060aa8b357d3"]]},{"id":"20b1eff7b4967a95","type":"function","z":"082d1a6d7f9f4ee6","g":"45acb5295fb1f6dc","name":"StorCtl_Mod","func":"msg.payload = { \n    'value': msg.storctl_mod,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40358,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["a14e060aa8b357d3"]]},{"id":"90fccb5e6388880a","type":"delay","z":"082d1a6d7f9f4ee6","g":"4f3ffe065555c0fe","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":290,"y":280,"wires":[["8bd4d58fbd889f99"]]},{"id":"9891a0a6eb033160","type":"delay","z":"082d1a6d7f9f4ee6","g":"4f3ffe065555c0fe","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":270,"y":320,"wires":[["29977cc08b49350b"]]},{"id":"92d5124fc68884d0","type":"inject","z":"082d1a6d7f9f4ee6","g":"4f3ffe065555c0fe","name":"Discharge 100%","props":[{"p":"outwrte","v":"4603","vt":"num"},{"p":"inwrte","v":"60933","vt":"str"},{"p":"storctl_mod","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":140,"y":240,"wires":[["c5c98e12a75471fa","90fccb5e6388880a","9891a0a6eb033160"]]},{"id":"c5c98e12a75471fa","type":"function","z":"082d1a6d7f9f4ee6","g":"4f3ffe065555c0fe","name":"InWRte","func":"msg.payload = { \n    'value': msg.inwrte,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40366,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["a14e060aa8b357d3"]]},{"id":"8bd4d58fbd889f99","type":"function","z":"082d1a6d7f9f4ee6","g":"4f3ffe065555c0fe","name":"OutWRte","func":"msg.payload = { \n    'value': msg.outwrte,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40365,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[["a14e060aa8b357d3"]]},{"id":"29977cc08b49350b","type":"function","z":"082d1a6d7f9f4ee6","g":"4f3ffe065555c0fe","name":"StorCtl_Mod","func":"msg.payload = { \n    'value': msg.storctl_mod,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40358,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":320,"wires":[["a14e060aa8b357d3"]]},{"id":"ea00b2d2947c7047","type":"inject","z":"082d1a6d7f9f4ee6","g":"2b3f222be46c2490","name":"Normal operation","props":[{"p":"storctl_mod","v":"0","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":680,"y":60,"wires":[["f64bcb1810827035"]]},{"id":"f64bcb1810827035","type":"function","z":"082d1a6d7f9f4ee6","g":"2b3f222be46c2490","name":"StorCtl_Mod","func":"msg.payload = { \n    'value': msg.storctl_mod,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40358,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":60,"wires":[["a14e060aa8b357d3"]]},{"id":"56971e07f5b82a9d","type":"delay","z":"082d1a6d7f9f4ee6","g":"6cefe547798fa70b","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":830,"y":280,"wires":[["7c0bb5afc650da96"]]},{"id":"301cc5bfd5441a20","type":"delay","z":"082d1a6d7f9f4ee6","g":"6cefe547798fa70b","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":810,"y":320,"wires":[["159b084e75e7ebe6"]]},{"id":"5e1aed5ce6c7b5ae","type":"inject","z":"082d1a6d7f9f4ee6","g":"6cefe547798fa70b","name":"No charge/discharge","props":[{"p":"outwrte","v":"0","vt":"num"},{"p":"inwrte","v":"0","vt":"str"},{"p":"storctl_mod","v":"3","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":690,"y":240,"wires":[["321d182f3a1d142b","56971e07f5b82a9d","301cc5bfd5441a20"]]},{"id":"321d182f3a1d142b","type":"function","z":"082d1a6d7f9f4ee6","g":"6cefe547798fa70b","name":"InWRte","func":"msg.payload = { \n    'value': msg.inwrte,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40366,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":240,"wires":[["a14e060aa8b357d3"]]},{"id":"7c0bb5afc650da96","type":"function","z":"082d1a6d7f9f4ee6","g":"6cefe547798fa70b","name":"OutWRte","func":"msg.payload = { \n    'value': msg.outwrte,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40365,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":280,"wires":[["a14e060aa8b357d3"]]},{"id":"159b084e75e7ebe6","type":"function","z":"082d1a6d7f9f4ee6","g":"6cefe547798fa70b","name":"StorCtl_Mod","func":"msg.payload = { \n    'value': msg.storctl_mod,\n    'fc': 6,\n    'unitid': 1,\n    'address': 40358,\n    'quantity': 1\n} \n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":320,"wires":[["a14e060aa8b357d3"]]},{"id":"6af939f8557606d0","type":"modbus-read","z":"082d1a6d7f9f4ee6","d":true,"g":"c40948974576ca28","name":"Battery info all values","topic":"40354","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"40353","quantity":"26","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"9627619322463cb8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":160,"y":520,"wires":[["9d2b7e0d8afa516b"],[]]},{"id":"33f657511e9659a2","type":"debug","z":"082d1a6d7f9f4ee6","g":"c40948974576ca28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":520,"wires":[]},{"id":"9d2b7e0d8afa516b","type":"function","z":"082d1a6d7f9f4ee6","g":"c40948974576ca28","name":"RAW to JSON","func":"var data = msg.payload;\nvar raw = {\n    'ID': data[0],\n    'L': data[1],\n    'WChaMax': data[2],\n    'WChaGra': data[3],\n    'WDisChaGra': data[4],\n    'StorCtl_Mod': data[5],\n    'VAChaMax': data[6],\n    'MinRsvPct': data[7],\n    'ChaState': data[8],\n    'StorAval': data[9],\n    'InBatV': data[10],\n    'ChaSt': data[11],\n    'OutWRte': data[12],\n    'InWRte': data[13],\n    'InOutWRte_WinTms': data[14],\n    'InOutWRte_RvrtTms': data[15],\n    'InOutWRte_RmpTms': data[16],\n    'ChaGriSet': data[17],\n    'WChaMax_SF': data[18],\n    'WChaDisChaGra_SF': data[19],\n    'VAChaMax_SF': data[20],\n    'MinRsvPct_SF': data[21],\n    'ChaState_SF': data[22],\n    'StorAval_SF': data[23],\n    'InBatV_SF': data[24],\n    'InOutWRte_SF': data[25],\n}\n\n\nmsg.payload = {\n    data : data,\n    raw : raw,\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":520,"wires":[["33f657511e9659a2"]]},{"id":"bb3812291ebfcfb9","type":"modbus-read","z":"082d1a6d7f9f4ee6","g":"f899bcc02c1725fc","name":"Battery info RW values","topic":"40354","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"40353","quantity":"26","rate":"10","rateUnit":"h","delayOnStart":false,"startDelayTime":"","server":"9627619322463cb8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":160,"y":420,"wires":[["18f4782d041591d2"],[]]},{"id":"ef1f47997f40e6e5","type":"debug","z":"082d1a6d7f9f4ee6","g":"f899bcc02c1725fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":420,"wires":[]},{"id":"18f4782d041591d2","type":"function","z":"082d1a6d7f9f4ee6","g":"f899bcc02c1725fc","name":"RAW to JSON","func":"var data = msg.payload;\nvar raw = {\n    'StorCtl_Mod': data[5],\n    'MinRsvPct': data[7],\n    'OutWRte': data[12],\n    'InWRte': data[13],\n    'InOutWRte_RvrtTms': data[15],\n    'ChaGriSet': data[17],\n}\n\nmsg.payload = {\n    data : data,\n    raw : raw,\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":420,"wires":[["ef1f47997f40e6e5"]]},{"id":"a3a0915615eb8313","type":"http in","z":"a3281e60fba0c8d7","name":"Graph endpoint","url":"/graph","method":"get","upload":false,"swaggerDoc":"","x":180,"y":80,"wires":[["d2a88bd4d41931d8","b60aa4e5b79753db"]]},{"id":"d2a88bd4d41931d8","type":"function","z":"a3281e60fba0c8d7","name":"Fetch image","func":"const fs = context.global.fs;\n\n// Path to your image file\nconst imagePath = '/config/files/schedule.png';\n\ntry {\n    // Read the image file\n    const imageBuffer = fs.readFileSync(imagePath);\n\n    // Set response headers for image\n    msg.headers = {\n        'Content-Type': 'image/png',\n        'Cache-Control': 'no-cache, no-store, must-revalidate',\n        'Pragma': 'no-cache',\n        'Expires': '0'\n    };\n\n    // Set the image data as payload\n    msg.payload = imageBuffer;\n\n    return msg;\n\n} catch (error) {\n    // Handle file not found or other errors\n    msg.statusCode = 404;\n    msg.payload = { error: 'Image not found', path: imagePath };\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":80,"wires":[["090010860c11558d"]]},{"id":"090010860c11558d","type":"http response","z":"a3281e60fba0c8d7","name":"Image response","statusCode":"","headers":{},"x":620,"y":80,"wires":[]},{"id":"0dacf95a463a2d89","type":"debug","z":"a3281e60fba0c8d7","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"46afb7d706dfe5a3","type":"catch","z":"a3281e60fba0c8d7","name":"","scope":null,"uncaught":false,"x":400,"y":240,"wires":[["0dacf95a463a2d89"]]},{"id":"b60aa4e5b79753db","type":"function","z":"a3281e60fba0c8d7","d":true,"name":"Debug","func":"const fs = context.global.fs;\n\n// Path to your image file\nconst dirPath = '/config/files';\n\ntry {\n    if(fs === undefined)\n    {\n        msg.payload = \"empty\"\n        return msg\n    }\n    const files = fs.readdirSync(dirPath);\n    msg.payload = {\n        directory: dirPath,\n        files: files\n    };\n} catch (err) {\n    msg.payload = {\n        error: err.message,\n        directory: dirPath\n    };\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["090010860c11558d"]]},{"id":"c99965c0a848a429","type":"inject","z":"20305e705bceed47","name":"Run install dependencies","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":190,"y":100,"wires":[["566c9e6c2af539e9"]]},{"id":"566c9e6c2af539e9","type":"exec","z":"20305e705bceed47","command":"apk update && apk add --no-cache build-base python3-dev py3-pip gcc musl-dev linux-headers","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Install python","x":420,"y":100,"wires":[["a9b122dcf9dcf5ce"],["a9b122dcf9dcf5ce"],[]]},{"id":"a9b122dcf9dcf5ce","type":"debug","z":"20305e705bceed47","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":100,"wires":[]},{"id":"b207548ca8629587","type":"debug","z":"20305e705bceed47","name":"Error Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":340,"wires":[]},{"id":"cdf47ee58a3384fe","type":"catch","z":"20305e705bceed47","name":"Catch errors","scope":null,"uncaught":false,"x":130,"y":340,"wires":[["b207548ca8629587"]]},{"id":"eb60eb274d8c99aa","type":"inject","z":"20305e705bceed47","name":"Run install pip dependencies","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":200,"y":180,"wires":[["b0cef5c44b24c1dc"]]},{"id":"b0cef5c44b24c1dc","type":"exec","z":"20305e705bceed47","command":"cd /config/files && source optimizer/venv/bin/activate &&  pip install -r requirements_production_minimal.txt","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Install pip requirements.txt","x":460,"y":180,"wires":[["ac34d8a3fd4e4009"],["ac34d8a3fd4e4009"],[]]},{"id":"ac34d8a3fd4e4009","type":"debug","z":"20305e705bceed47","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":180,"wires":[]}]